@CHARSET "ISO-8859-1";

body {
	font-family: Arial;
	font-size: 80%;
}

table,th,td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}

#timeslider label {
	position: absolute;
	width: 20px;
	margin-top: 20px;
	margin-left: -10px;
	text-align: center;
}

.ui-widget {
	font-size: 90% !important;
}